    <!-- ==== HEADERWRAP ==== -->
<!--    -->
            <!-- <h1><span class="icon "></span></h1>
            <p>今日なにハイテクノ？</p>
            <p></p> -->
<!-- <div id="headerwrap" id="home" name="home">
    <header class="clearfix">
        <div class="slider">
          <div><img src="assets/patterns/banana.jpg" alt=""></div>
              <div><img src="assets/patterns/egypt.jpg" alt=""></div>
              <div><img src="assets/patterns/leaf.jpg" alt=""></div>
          <div><img src="assets/patterns/sky.jpg" alt=""></div>
        </div>
    </header>
</div> -->
      <!-- /headerwrap -->






<header>
      <div id="home" name="home">
           <div class="sliderWrap">
                  <img src="assets/patterns/new.png" alt="" class="cover">
                 <div class="slider">
                          <div><img src="assets/patterns/cosmo.png" alt=""></div>
                          <div><img src="assets/patterns/weed.png" alt=""></div>
                          <div><img src="assets/patterns/vege.png" alt=""></div>
                          <div><img src="assets/patterns/leaf1.png" alt=""></div>
                          <div><img src="assets/patterns/eye.png" alt=""></div>
                  </div>
            </div>
        </div>
</header>

    <!-- ==== GREYWRAP ==== -->
    <div id="greywrap">
      <div class="row">
        <div class="col-lg-4 callout">
          <span class="icon icon-ticket"></span>
          <h2>変身価格¥1500</h2>
          <p>新しい靴を履きたくなっても靴屋に行く必要はありません。Lokiなら五秒で変身完了。</p>
        </div><!-- col-lg-4 -->

        <div class="col-lg-4 callout">
          <span class="icon icon-eye"></span>
          <h2>Made in Japan</h2>
          <p>長く履き続けて欲しいから。いいモノはいいヒトから生まれます。</p>
        </div><!-- col-lg-4 --> 

        <div class="col-lg-4 callout">
          <span class="icon icon-upload"></span>
          <h2>デザイナーはあなた</h2>
          <p>あなたの足元はあなたの手で彩りましょう。方法は簡単、データをアップロードするだけです。</p>
        </div><!-- col-lg-4 -->
      </div><!-- row -->
    </div><!-- greywrap -->

    <!-- ==== ABOUT ==== -->
    <div class="container" id="about" name="about">
      <div class="row white">
      <br>
        <h1 class="centered">変えるのはスキンだけ。</h1>
        <hr>
        <div class="col-lg-6">
          <p>「このスニーカー欲しいけどちょっと
          高いなぁ...」<br>なんて経験をしたことがありませんか？
          新しいデザインを楽しみたかったら軽く七千円くらい財布から羽ばたいて行っちゃいますよね。<br>
          もっと手軽に、もっと色んな靴を楽しみたい。<br>その願い Loki が叶えます。
          </p>
        </div><!-- col-lg-6 -->
        <div class="col-lg-6">
          <p>Lokiはスニーカー本体とスキンと呼ばれるデザインがプリントされたパーツからできています。
          買い換えるのはスキンだけ。
          ちょっと奇抜な柄に挑戦したはいいもののすぐ飽きた、なんて経験は今日で終わりです。<br>
          今日はきゃりーぱみゅぱみゅ、明日は長渕剛。そんなスニーカーライフを
          楽しんでください。  </p>
        </div><!-- col-lg-6 -->
      </div><!-- row -->
    </div><!-- container -->

    <!-- ==== SECTION DIVIDER1 -->
    <section class="section-divider textdivider divider1" >
      <div class="container">
        <h1>次、あなたのLokiは何を着る？</h1>
        <hr>
      </p>
      </div><!-- container -->
    </section><!-- section -->



    <div class="container" id="New_Loki" name="New_Loki">
    <br>
      <div class="row">
        <br>
        <h1 class="centered">New Loki</h1>
        <hr>
        <br>
        <br>
      </div><!-- /row -->
      <div class="container">
      <div class="row">

<div id="tweets">
<%= render :partial => "top" %>
  </div>



          </div><!-- /row -->
      <br>
      <br>
    </div><!-- /row -->
  </div><!-- /container -->





    <section class="section-divider textdivider divider6">
      <div class="container">
        <h1>日本の真ん中 TOKYO からお届けします。</h1>
        <hr>
        <p><a class="icon icon-twitter" href="#"></a> | <a class="icon icon-facebook" href="#"></a></p>
      </div><!-- container -->
    </section><!-- section -->

    <div class="container" id="contact" name="contact">
      <div class="row">
      <br>
        <h1 class="centered">THANKS FOR VISITING US</h1>
        <hr>
        <br>
        <br>
        <div class="col-lg-4">
          <h3>Contact Information</h3>
          <p><span class="icon icon-home"></span> Some Address 987, NY<br/>
            <span class="icon icon-phone"></span> +34 9884 4893 <br/>
            <span class="icon icon-mobile"></span> +34 59855 9853 <br/>
            <span class="icon icon-envelop"></span> <a href="#"> agency@Loki.co</a> <br/>
            <span class="icon icon-twitter"></span> <a href="#"> @Loki_co </a> <br/>
            <span class="icon icon-facebook"></span> <a href="#"> Loki </a> <br/>
          </p>
        </div><!-- col -->

        <div class="col-lg-4">
          <h3>Newsletter</h3>
          <p>今も世界各地で新しいスキンが誕生しています。<br>新着スキンをいち早くゲットしましょう。</p>
          <p>
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label for="inputEmail1" class="col-lg-4 control-label"></label>
                <div class="col-lg-10">
                  <input type="email" class="form-control" id="inputEmail1" placeholder="Email">
                </div>
              </div>
              <div class="form-group">
                <label for="text1" class="col-lg-4 control-label"></label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" id="text1" placeholder="Your Name">
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-10">
                  <button type="submit" class="btn btn-success">Sign in</button>
                </div>
              </div>
             </form><!-- form -->
          </p>
        </div><!-- col -->

        <div class="col-lg-4">
          <h3>Support Us</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div><!-- col -->

      </div><!-- row -->

    </div><!-- container -->

    <div id="footerwrap">
      <div class="container">
        <h4>Created by <a href="http://blacktie.co">BlackTie.co</a> - Copyright 2014</h4>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


  <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="assets/js/retina.js"></script>
  <script type="text/javascript" src="assets/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="assets/js/smoothscroll.js"></script>
  <script type="text/javascript" src="assets/js/jquery-func.js"></script>
